name: Publish

on:
  push:
    tags:
      - 'v*.*.*'   # es. v0.1.0

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Verify build
        run: cargo build --release

      - name: Run tests
        run: cargo test --all --verbose

      - name: Publish to crates.io
        run: cargo publish --token ${{ secrets.CRATES_IO_TOKEN }}
